<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>Home  Page</title>
</head>
<body>
<center>
    <h1>Welcome to Home page</h1>
    <a href="{{ url_for('register') }}"><button> Click Here for Register</button></a>
    </br></br>

    <a href="{{url_for('login')}}"> <button> Click Here for Login</button></a>

    </br></br>

    <a href="{{url_for('dashboard')}}"> <button> Click Here for Dashboard</button></a>



</center>
</body>
</html>